test/soap/DataService_string_array.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://stuff.dom" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://stuff.dom" xmlns:intf="http://stuff.dom" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://stuff.dom" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getSomeData">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="myParams" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getSomeDataResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getSomeDataReturn" type="impl:SomeData"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="SomeData">
    <sequence>
     <element name="integer_value" type="xsd:int"/>
     <element name="string_value" nillable="true" type="xsd:string"/>
     <element name="date_value" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>
   <wsdl:message name="getSomeDataRequest">
      <wsdl:part element="impl:getSomeData" name="parameters">
      </wsdl:part>
   </wsdl:message>
   <wsdl:message name="getSomeDataResponse">
      <wsdl:part element="impl:getSomeDataResponse" name="parameters">
      </wsdl:part>
   </wsdl:message>
   <wsdl:portType name="DataService">
      <wsdl:operation name="getSomeData">
         <wsdl:input message="impl:getSomeDataRequest" name="getSomeDataRequest">
       </wsdl:input>
         <wsdl:output message="impl:getSomeDataResponse" name="getSomeDataResponse">
       </wsdl:output>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="DataServiceSoapBinding" type="impl:DataService">
      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="getSomeData">
         <wsdlsoap:operation soapAction=""/>
         <wsdl:input name="getSomeDataRequest">
            <wsdlsoap:body use="literal"/>
         </wsdl:input>
         <wsdl:output name="getSomeDataResponse">
            <wsdlsoap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="DataServiceService">
      <wsdl:port binding="impl:DataServiceSoapBinding" name="DataService">
         <wsdlsoap:address location="http://localhost:8080/DomSoap3/services/DataService"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>
